<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mediarocks_NewsletterExtended>
            <version>0.2.0</version>
        </Mediarocks_NewsletterExtended>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Mediarocks_NewsletterExtended>
                    <files>
                        <default>Mediarocks_NewsletterExtended.csv</default>
                    </files>
                </Mediarocks_NewsletterExtended>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Mediarocks_NewsletterExtended>
                    <files>
                        <default>Mediarocks_NewsletterExtended.csv</default>
                    </files>
                </Mediarocks_NewsletterExtended>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <mediarocks_newsletterextended>
                <class>Mediarocks_NewsletterExtended_Model</class>
            </mediarocks_newsletterextended>
            <newsletter_resource>
                <rewrite>
                    <subscriber_collection>Mediarocks_NewsletterExtended_Model_Mysql4_Subscriber_Collection</subscriber_collection>
                </rewrite>
            </newsletter_resource>
        </models>
        <events>
            <newsletter_subscriber_save_before>
                <observers>
                    <newsletterSubscriberChange>
                        <class>Mediarocks_NewsletterExtended_Model_Observer</class>
                        <method>newsletterSubscriberChange</method>
                    </newsletterSubscriberChange>
                </observers>
            </newsletter_subscriber_save_before>
        </events>
        <blocks>
            <newsletter>
                <class>Mediarocks_NewsletterExtended_Block</class>
            </newsletter>
            <adminhtml>
                <rewrite>
                    <newsletter_subscriber_grid>Mediarocks_NewsletterExtended_Adminhtml_Block_Newsletter_Subscriber_Grid</newsletter_subscriber_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <mediarocks_newsletterextended_setup>
                <setup>
                    <module>Mediarocks_NewsletterExtended</module>
                    <class>Mediarocks_NewsletterExtended_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mediarocks_newsletterextended_setup>
            <mediarocks_newsletterextended_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mediarocks_newsletterextended_write>
            <mediarocks_newsletterextended_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mediarocks_newsletterextended_read>
        </resources>
    </global>
</config>
